.john_blog {
    padding-left: 8%;
    padding-right: 2%;
    width: 42%;
    height: 300px;
  }
  
  .name2 {
    background-color: #5f5f64;
  }
  
  .beer_blog {
    height: 33%;
    width: 33%;
    border-radius: 50%;
    margin-top: 9%;
    background-position: center;
    }