body {
    color: #22e9ff;
    font-family: "Crete Round";
    font-weight: 400;
}

.john_blog {
    padding-left: 8%;
    padding-right: 2%;
    width: 42%;
    height: 300px;
  }
  
  .name2 {
    background-color: #4b4b4f;
  }

  .header_color {
    color: #f84fcb;
  }

  p {
    line-height: 1.6rem;
    letter-spacing: .3px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3.3%;
  
  }

  .casey { 
    margin-bottom: 3.3%;
  }

  .casey2 {
    margin-top: 3.3%;
  }

  .album {
    height: 20%;
    width: 20%;
  }

  .joke_writer {
    /* content: url(https://scontent.cdninstagram.com/v/t39.30808-6/452937521_17999782277646998_8596854747353481617_n.jpg?stp=dst-jpg_e35&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xMDgweDEwODAuc2RyLmYzMDgwOC5kZWZhdWx0X2ltYWdlIn0&_nc_ht=scontent.cdninstagram.com&_nc_cat=102&_nc_ohc=wlGjpy0PQ_4Q7kNvgHmKtxS&_nc_gid=00e9ba64612c4db0851a2cfb7825c6ca&edm=APs17CUAAAAA&ccb=7-5&ig_cache_key=MzQyMTUwNjIzNTA1OTUwOTk4OQ%3D%3D.3-ccb7-5&oh=00_AYBJl8QqhEkpv8zrR_V0kmXZFjKzth4y-4XygO4IXHXTEw&oe=66F56871&_nc_sid=10d13b); */
    max-height: 100%;
    max-width: 100%
  }

  h3 {
    color: #f84fcb;
      font-family: 'Montagu Slab';
      font-weight: 700;
      font-style: normal;
  
    };

  
  .beer_blog {
    height: 33%;
    width: 33%;
    border-radius: 50%;
    margin-top: 9%;
    background-position: center;
    }

    .beer_background {
        width: 33%;
        height: 33%;
        background-color: #5500D2;
        z-index: -1;
        margin-left: 33%;
        border-radius: 50%;
       }
       

    @media only screen and (max-width: 400px) {
        .content{
            padding: 2rem 0;
        }
        article {
            float: none;
            margin: 0 auto;
            width: 96%;
        }
        article:last-of-type {
            margin-bottom: 3rem;
        }
        aside {
            float: none;
            text-align: center;
            width: 100%;
        }
        .site-title-b {
            width: 26%;
            height: 149%;
        }

        .visible-title {
            width: 25%;
          }
          .site-title {
            width: 25%;
          }
       
        @keyframes jiggle {
          from {margin-right: 0%;}
          to {margin-right: 18%;}
        }
        .stonk {
          height: 45%;
          width: 75%;
        }
        .BZPS {
            width: 22%;
            height: 20%;
            font-size: 15.3px;
        }
    }

    .__item {
      color: aquamarine;
    }
    
    .window-swap {
      clear: both;
      padding-bottom: 20px;
      margin-bottom: 20%;
      font-size: 3px;
    }
    .bg-img {
      position: relative;
      width: 100%;
      height: 100%;
      background: url('http://unsplash.it/1200x800') center center no-repeat;
      background-size: cover;
      
      &:before {
        content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right,#14571a,#2300be);
      opacity: .6; 
      z-index: -1;
      }
    } 

    .ticker { height: 0%}