@font-face {
  font-family: 'oswald';
  src: url('Wavetosh.ttf');
}

header h1 {
  /* background-color: #939597; */
  color: #f0c506;
  position: absolute;
  top: 0rem;
  left: 0rem;
  opacity: 90%;
  border-color: #074207;
  border-width: medium;
  font-size: 1.85rem;
  
}

a { color: darkslategray;
    background: goldenrod;  
}

h1 {
font-family: 'oswald', Arial, Helvetica, sans-serif;
}

body {
  margin: 0px; padding:0px;
  color: #073299;
  font-family: helvetica;
  line-height: 1.6;
  background-color: #023315

}
h3 {
  color: #010482;
}
h4 {
  color: #441392;
}

.hed {
  font-family: 'oswald';
}

.nineteen {
  color: crimson;
  font-size: 25px;
  font-style: bold;
}

.nineteen8 {
  color: crimson;
  font-size: 21px;
  font-style: bold;
}

/* main */
header {
    height: 360px;
    z-index: 10;
}

ul, ol {
  text-align: center;
  list-style-position: inside;
}

p {
  line-height: 1.6rem;
  letter-spacing: .3px;
  margin-left: 8%;
  margin-right: 8%;
}

.header-banner {
    background-color: #220169;
    /* background-image: url('../img/john.png'); */
    background-position:center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
.john {
  width: 25%;
  height: 100%;
  border-right: 4px solid #042404;
  /* border-left: 5px solid #939597; */
  /* border-bottom: 5px solid #939597; */
  padding-left: 5%;
}
.float_logo {
  width:33%;
  height: 75%;
  /* padding: 10%; */
  opacity: 50%;
  float: right;
  margin-right: 15%;
  margin-top: 1%;
  box-shadow: 15px 15px #003f00;
  /* padding-top: 10%
  padding-bottom: 15px; */
  border-radius: 50%;
  background-image:url("../img/logo_pasta.png");
  animation-name: jiggle;
  animation-duration: 9.1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

  @keyframes jiggle {
    from {margin-right: 0%;}
    to {margin-right: 20%;}
    /* to {margin-right: 0%;} */
  }
.name {
    padding-left: 5%;
    padding-top: .7%;
  }
  .name, h2, a, #com, .com {
      animation-name: gold;
      animation-duration: 2.25s;
    }

  @keyframes gold {
    from {color: #f0c506;}
    to {color: #333123;}
  }

.container {
   box-shadow: 10px 10px darkgreen;
   background-color: #939597;
   text-align: center;
}
#com, .com {
  color: #003f00;
  height: 50%;
  font-size: 350%;
}
.beer {
  width: 80%;
  height:80%;
  clear: right;
  border-radius: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.background {
  width: 33%;
  height: 33%;
  background-color: darkslategray;
  z-index: -1;
  margin-left: 33%;
  border-radius: 50%;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
nav {
    width: 100%;
    height: 60px;
    background-image: url('../img/bzlogo3.png');
    background-size: 100px, 100px;
    position: fixed;
}
nav div {
    color: #0f4c81;
    background-color: #939597;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}
.visible-title {
    visibility: visible;
    font-family: 'oswald';
    color: gold;
}

.art {
  height: 25%;
  width: 25%;
  border-radius: 50%;
}

.background1 {
  height: 1.8%;
  weight: 1.6%;
  background-color: crimson;
}

nav ul {
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
    background-image: url('../img/bzlogo3.png')!important;
    background-position: center;
    background-repeat: repeat;
    
    background-size: 133px, 133px;
}
nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-left: 10px;
}
nav ul li a {
    text-decoration: none;
    color: #f0c506;
    /* background-color: #939597; */
    background-color: #939597;
    font-size: 1.7rem;
}

@media only screen and (max-width: 980px) {
    .content{
        padding: 2rem 0;
    }
    article {
        float: none;
        margin: 0 auto;
        width: 96%;
    }
    article:last-of-type {
        margin-bottom: 3rem;
    }
    aside {
        float: none;
        text-align: center;
        width: 100%;
    }
}
