/* blue 073299
g 007700
yellow FDE900 */

/* resets */
body {
  margin: 0px; padding:0px;
  color: #073299;
  font-family: helvetica;
  line-height: 1.6;
  background-color: #007700

}
h3 {
  color: #010482;
}
h4 {
  color: #441392;
}

/* main */
header {
    height: 360px;
    z-index: 10;
}

header h1 {
    /* background-color: #939597; */
    color: #FDE900;
    position: absolute;
    top: 0rem;
    left: 0rem;
    opacity: 90%;
    border-color: #074207;
    border-width: medium;
    font-size: 1.85rem;
}
.lit {

}
.header-banner {
    background-color: #073299;
    /* background-image: url('../img/john.png'); */
    background-position:center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
.john {
  width: 35%;
  height: 100%;
  border-right: 4px solid black;
  /* border-left: 5px solid #939597; */
  /* border-bottom: 5px solid #939597; */
  padding-left: 5%;
}
#pasta {
  width:33%;
  height: 75%;
  /* padding: 10%; */
  opacity: 50%;
  float: right;
  margin-right: 15%;
  margin-top: 1%;
  box-shadow: 15px 15px black;
  /* padding-top: 10%
  padding-bottom: 15px; */
  border-radius: 50%;
  background-image:url("../img/pasta.png");
  animation-name: jiggle;
  animation-duration: 9.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
  @keyframes jiggle {
    from {margin-right: 0%;}
    to {margin-right: 20%;}
    /* to {margin-right: 0%;} */
  }
.name {
    padding-left: 5%;
    padding-top: .7%;
    animation-name: gold;
    animation-duration: 5s;
  }
  h1 {
      animation-name: gold;
      animation-duration: 5s;
    }
  .hed {
      animation-name: gold;
      animation-duration: 5s;
    }

  @keyframes gold {
    from {color: #000000;}
    to {color: #FDE900;}
  }

.container {
   box-shadow: 10px 10px darkgreen;
   background-color: #939597;
   text-align: center;
}
#com {
  color: #FDE900
}
.art {
  width: 20%;
  height: 2%;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
nav {
    width: 100%;
    height: 60px;
    background-image: url('../img/bzlogo3.png');
    background-size: 100px, 100px;
    postion: fixed;
    z-index: 10;
}
nav div {
    color: #0f4c81;
    background-color: #939597;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}
.visible-title {
    visibility: visible;
}

nav ul {
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
    background-image: url('../img/bzlogo3.png')!important;
    background-position: center;
    background-repeat: repeat;
    background-size: 133px, 133px;
}
nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-left: 10px;
}
nav ul li a {
    text-decoration: none;
    color: #FDE900;
    /* background-color: #939597; */
    background-color: #939597;
    font-size: 1.7rem;
}

/* demo content */

.content{
    margin: 0 auto;
    padding: 4rem 0;
    width: 960px;
    max-width: 100%;
}
article {
    float: left;
    width: 720px;
}
article p:first-of-type {
    margin-top: 0;
}
aside {
    float: right;
    width: 120px;
}
p img {
    max-width: 100%;
}

@media only screen and (max-width: 960px) {
    .content{
        padding: 2rem 0;
    }
    article {
        float: none;
        margin: 0 auto;
        width: 96%;
    }
    article:last-of-type {
        margin-bottom: 3rem;
    }
    aside {
        float: none;
        text-align: center;
        width: 100%;
    }
}
